{% extends 'base.html' %}

{% block content %}
    <h3>Home Page {{ current_user.username }}</h3>
        Salut si bun venit pe blogul meu.
        Aici impartasesc idei despre diferite subiecte de divertisment ca de exemplu jocuri sau filme ce merita timpul vostru.
        Sper ca aceste idei sa va fie de ajutor si utile cat mai multor persoane pentru a va putea petrece timpul cu scopul recrearii si relaxarii.
        Va multumesc ca ati trecut pe aici si va urez o calatorie placuta.
        Simtiti-va ca acasa si explorati cele mai recente postari de mai jos.
    <div class="card">
        {% for post in posts %}
            <div class="card-body">
                <h6>{{ post.title }}</h6>
                <a href="{{ url_for('detail', post_id=post.id) }}" class="btn btn-info">Show</a>
                {% if post.author == current_user %}
                    <a href="{{ url_for('delete', post_id=post.id) }}" class="btn btn-danger">Delete</a>
                    <a href="{{ url_for('update', post_id=post.id) }}" class="btn btn-primary">Update</a>                                
                {% endif %}                
            </div>
        {% endfor %}
    </div>
{% endblock %}